# gradle
.gradle/
build


# idea config
.idea
**/.vite/
**/node_modules/
.ds_store
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/part3/phonebook-backend/.env
/part4/blogposts/.env
.env
